{
    "port": 3000,
    "proxyUrl": "http://XXXXX:XwwX.unir.fr:3128",
    "api_password":"XXXXXXXXXXXX",
    "users_secret":"XXXXXXXXXXXX",
    "apiDb": "mongodb",
    "userDb": "mongodb",
    "mongodb": {
        "address": "localhost",
        "api_db": "test-otp",
        "user_db": "user-db",
        "transport": {
            "mail": "mail",
            "sms": "mobile"
        }
    },
    "ldap": {
        "uri": "ldap://X.X.X.X",
        "baseDn": "dc=fr",
        "adminDn": "cn=admin,dc=fr",
        "password": "changeit",
        "transport": {
            "mail": "mail",
            "sms": "mobile"
        }
    },
    "mysql":{
        "host": "X.X.X.X",
        "user": "xxxxxxxx",
        "password": "xxxxxxx",
        "database": "xxxxxx"
    },
    "methods": {
        "google_authenticator": {
            "activate": true,
            "sms": true,
            "mail": true,
            "login_view": true,
            "sms_window": 6,
            "mail_window": 15,
            "app_window": 2,
            "default_window": 2
        },
        "simple_generator": {
            "activate": true,
            "sms": true,
            "mail": true,
            "login_view": false,
            "sms_validity": 15,
            "mail_validity": 30,
            "code_type": "string",
            "code_length": 6
        },
        "bypass": {
            "activate": true,
            "sms": true,
            "mail": true,
            "login_view": false,
            "codes_number": 10,
            "code_type": "string",
            "code_length": 6
        }        
    }, 
    "mailer": {
        "service":"xmail",
        "address":"xxxxxxx@xmail.com",
        "password":"xxxxxxxx"
    },
    "sms": {
        "url": "https://username:password@sms.univ.fr/esup-smsuapi/?action=SendSms&phoneNumber=$phoneNumber$&message=$message$"
    },
    "dev": {
        "sms": false,
        "mail": false
    }
}
