{
    "port": 3000,
    "proxyUrl" : "http://username:password@univ.fr:port",
    "connector": "mongoose",
    "mongodb": {
        "address": "localhost",
        "db": "test"
    },
    "userDb": "ldap",
    "ldap": {
        "uri": "ldap://X.X.X.X",
        "baseDn": "dc=fr",
        "adminDn": "cn=admin,dc=fr",
        "password": "changeit",
        "transport": {
            "mail": "mail",
            "sms": "mobile"
        }
    },
    "simple_generator": {
        "sms_validity": 15,
        "mail_validity": 30,
        "code_type": "string",
        "code_length": 6
    },
    "google_authenticator": {
        "sms_window": 6,
        "mail_window": 15,
        "app_window": 2
    },
    "mailer": {
    	"service":"xmail",
    	"address":"xxxxxxx@xmail.com",
    	"password":"xxxxxxxx"
    },
    "sms": {
        "url": "https://username:password@sms.univ.fr/esup-smsuapi/?action=SendSms&phoneNumber=$phoneNumber$&message=$message$"
    },
    "dev": {
    }
}
