{
    "auto_create_user": true,
    "port": 3000,
    "proxyUrl": "http://username:password@univ.fr:port",
    "api_password":"XXXXXXXXXXXX",
    "users_secret":"XXXXXXXXXXXX",
    "apiDb": "mongodb",
    "userDb": "mongodb",
    "mongodb": {
        "address": "localhost",
        "db": "test-otp",
        "transport": {
            "mail": "mail",
            "sms": "mobile"
        }
    },
    "ldap": {
        "uri": "ldap://127.0.0.1",
        "baseDn": "dc=fr",
        "adminDn": "cn=admin,dc=fr",
        "password": "changeit",
        "transport": {
            "mail": "mail",
            "sms": "mobile"
        }
    },
    "mysql":{
        "host": "127.0.0.1",
        "user": "admin",
        "password": "changeit",
        "database": "test-otp",
        "userTable": "User",
        "transport": {
            "mail": "mail",
            "sms": "sms"
        }
    },
    "methods": {
        "totp": {
            "activate": true,
            "sms": true,
            "mail": false,
            "sms_window": 6,
            "mail_window": 15,
            "app_window": 2,
            "default_window": 2,
            "transports" : ["sms", "mail"]
        },
        "random_code": {
            "activate": true,
            "sms": true,
            "mail": false,
            "sms_validity": 15,
            "mail_validity": 30,
            "code_type": "digit",
            "code_length": 6,
            "transports" : ["sms"]
        },
        "bypass": {
            "activate": true,
            "sms": false,
            "mail": false,
            "codes_number": 10,
            "code_type": "digit",
            "code_length": 6,
            "transports" : []
        }        
    },
    "mailer": {
        "sender_mail": "auth-api",
        "sender_name": "Université",
        "port": 25,
        "hostname":"smtp.univ.fr"
    },
    "sms": {
        "url": "https://username:password@sms.univ.fr/esup-smsuapi/?action=SendSms&phoneNumber=$phoneNumber$&message=$message$"
    }
}
